/* CSS DISPLAYED-MENU */
.displayed-menu {
    display: none;
    height: 54px;
    width: 100%;
    background:#FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 110px;
    z-index: 2;
    border: 1px solid #DBDBDB;
}

header {
    height: 54px;
    width: 100%;
    background:#FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 2;
    border: 1px solid #DBDBDB;
}

header.desktop {
    display: flex;
}
.top-container {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.top-logo  {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.spacer {
    width: 1px;
    background: #E4E4E4;
}

.top-container .vertical {
    height: 22px;
}

.top-container input{
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    width: 215px;
    height: 28px;
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 10px;
}

.top-container input::placeholder {
    color: #979797;
    opacity: 1;
    background-image: url(/static/images/search.svg);
    background-repeat: no-repeat;
    text-align: center;
}

.top-icons {
    width: 238px;
    display: flex;
    justify-content: space-between;
}

.top-icons .logo-mini{
    font-size: 22px;
}
.top-icons .logo-mini:hover{
    color: #E4E4E4;
}
.sub-menu{
    display: none;
}

.sub-menu > ul  li {
    padding:  10px;
}

.logo-login:hover .sub-menu {
    display: block;
    position: absolute;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(151, 151, 151, 0.3);
}
.logo-plus:hover .sub-menu{
    position: absolute;
    display: block;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(151, 151, 151, 0.3);
}

.sub-menu > ul  li:hover{
    background-color: rgba(179, 175, 175, 0.1);
}
.inbox-notifications{
    position: absolute;
    font-size: 13px;
    top:3px;
    right: 300px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    border-radius: 100px;
} 
.activity-notifications{
    position: absolute;
    font-size: 13px;
    top:3px;
    right: 245px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    border-radius: 100px;
}

@media (max-width: 935px) {
 .top-container {
   width: 95%;
}
}

@media (max-width: 614px) {
.top-icons  i {
    display: none;
}
.displayed-menu {
    display: flex;
}

}