@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

@import url('./nav/nav.css'); 

@import url('./session-login/session.css');

@import url('./home/aside.css');
@import url('./home/stories.css');
@import url('./home/post.css');

@import url('./profile/content.css');
@import url('./profile/gallery.css');
@import url('./profile/profile-stories.css');
@import url('./profile/profile-info.css');
@import url('./profile/edit-profile.css');

@import url('./messages/messages.css');

@import url('./post/createpost.css');
@import url('./notifications/notifications.css');


/* ====== BASE STYLES ====== */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Poppins', sans-serif;
color: #262626;
}

body{
color: #262626;
overflow-x: hidden;
background: #FAFAFA;
}



main{
width: 935px;
margin: 88px auto 0;
display: flex;
} 
.main-feed {
width: 614px;
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
}


/* CSS Páginas menores que 935px */
@media (max-width: 935px) {
main {
    width: auto;
    justify-content: center;
}
}

/* CSS Páginas menores que 614px - Modo Mobile */
@media (max-width: 614px) {
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main {
    width: 100%;
    margin: 60px 0 0;
}

.main-feed {
    width: 100%;
    margin: 0;
    padding: 0;
}
}




/*-------------------------------- 'profile.html' ------------------------------- */

/* ====== BASE STYLES ====== */
.page-profile{
    background: white;
    color: #262626;
    margin-top: 3rem;
}

.inner-wrap{
    margin: auto;
    max-width: 900px;
    margin-bottom: 15px;
}

.inner-wrap img,
.profile-wrap img{
    width: 100%;
    object-fit: cover;
}

