.content-container {
    width: 100%;
    max-width: 935px;
    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
}


/* Side Menu */
/* Messenger Page's Features */
.messenger-body {
    max-height: 622px;
    display: flex;
    margin-top: 45px;
    border: 1px solid hsl(0, 2%, 83%);
    width: inherit;
    background-color: #FFF;
    border-radius: 4px;
}
a{
    cursor: pointer;
}

.messenger-left-side {
    width: 350px;
    border-right: 1px solid hsl(0, 2%, 83%);
}

.messenger-header {
    display: flex;
    padding: 14px;
    border-bottom: 1px solid hsl(0, 2%, 83%);
}

.messenger-header a {
    color: #262626;
}

.messenger-header .fa-solid {
    font-size: 22px;
}

.messenger-header span {
    font-size: 16px;
    margin-right: 6px;
}

.messenger-profile-name {
    margin: auto;
}

.messenger-messages {
    max-height: 556px;
}

.messages-users {
    margin-top: 8px;
    height: 515px;
    overflow: auto;
}

.messenger-user-box {
    display: flex;
    padding: 8px 20px;
    gap: 11px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.messenger-user-box:hover {
    background-color: #FAFAFA;
}

.messenger-user-box img {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}
.user-message-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-message-info .message {
    margin-top: 3px;
}

.messenger-right-side {
    width: 585px;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.right-side-content {
    text-align: center;
    align-self: center;
}

.right-side-content .circle {
    border: 2.2px solid #262626;
    width: 96px;
    height: 96px;
    margin-right: auto;
    margin-left: auto;
    line-height: 6;
    border-radius: 100px;
    margin-bottom: 16px;
}

.right-side-content .circle i {
    width: 48px;
    height: 42px;
    position: absolute;
    top: 128px;
    right: 486px;
}
.text {
    margin-bottom: 16px;
}

.right-side-content .text h3 {
    font-weight: 350;
    font-size: 22px;
    margin-bottom: 8px;
}


.right-side-content .text p {
    font-size: 14px;
    color: #8E8E8E;
    margin-bottom: 8px;
}

.right-side-content button {
    background-color: #0095F6;
    padding: 8px 9px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 600;
}

.chat-inbox{
    width: 100%;
}
.chat-inbox-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.2px;
    font-size: 16px;
    border-bottom: 1px solid hsl(0, 2%, 83%);
}
.chat-inbox-top > div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat-inbox-top > div > img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.chat-messanger{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 89%;
}
form#send-message{
    margin-bottom: 15px;
    width: 100%;
}
.input-message{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input-message > input {
    margin: 5px 10px;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgb(214, 212, 212);
}
.messages-chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}
.send-message{
    align-self: flex-end;
    gap: 3px;
}
.message-received{
    display: flex;
    gap: 3px;
}
.messages-chat > div {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.messages-chat > div > img {
    width: 24px;
    height: 24px;
    border-radius: 100px;
}
.messages-chat > div > p{
    border: 1px solid rgb(214, 212, 212);
    padding: 10px;
    max-width: 170px;
    min-height: 15px;
    margin: 3px;
    font-size: 12px;
    border-radius: 10px;
    text-align: start;
}
.read-inbox{
    background-color: rgba(255, 0, 0, 0.5);
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100px;
}
.messenger-user-box:hover  .read-inbox{
    background-color: red;
}
.drop-menu-messenger{
    width: 100%;
    position: absolute;
    left: 0;
}

.background-displayed{
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

.displayed-menu-chat{
    height: 450px;
    width: 320px;
    border-radius: 10px;
    background-color: white;
}
.displayed-menu-chat > p{
    padding: 10px;
}

.top-displayed-menu{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(214, 212, 212);
}
.top-displayed-menu strong{
    padding-right: 10px;
}

.bottom-displayed-menu{
    width: 100%;
    height: 353px;
    background-color: rgba(214, 212, 212, 0.1);
    overflow: auto;
}
.users-displayed-menu{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid rgb(214, 212, 212);
    margin: 5px 0;
}
.users-displayed-menu > div:first-child{
    display: flex;
    gap: 10px;
}
.users-displayed-menu img {
    height: 26px;
    width: 26px;
    align-self: flex-end;
}

.messenger-post {
    width: 270px;
    max-height: 374px;
    color:#262626;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(253, 251, 251);
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    overflow: hidden;
}

.messenger-post >  img {
    width: 270px;
    height: 236px;
    object-fit: cover;
}
.messenger-post-top{
    display: flex;
    padding: 5px;
    font-size: 14px;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.messenger-post-top > img{
    width: 32px;
    height: 32px;
}
.messenger-post-bottom{
    text-align: start;
    font-size: 14px;
    width: 100%;
    padding: 10px 7px;
    line-height: 18px;
}
/* Media Queries */


@media (min-width: 620px) {
    .content-container {
        padding: 30px 0 24px;
    }
    .input-message > input{
        max-width: 300px;
    }
}


